/* Header */
h1 {
    font-size: 38px;
    font-style: italic;
    color: #272626;
    text-align: center;
    margin-top: 15px;
}

h2 {
    font-size: 30px;
    color: #494848;
    text-align: center;
    margin-top: 15px;
}

/* Images */
.bild {
    width: 150px;
    height: auto;
    float: right;
}

/* Body */
body {
    font-family: sans-serif;
    background-color: #d3e0ea;
}

.speise {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 250px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.link {
    font-size: 20px;
    color: #3c83ba;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.link:hover {
    color: #11436c;
    font-size: 21px;
}


.link_in_middle {
    font-size: 20px;
    color: #3c83ba;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    display: inline-block;;
}

.link_in_middle:hover {
    color: #11436c;
    font-size: 21px;
}

.speise:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rezept-karte {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.rezept-karte img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

.rezept-karte a {
    font-size: 20px;
    font-weight: 600;
    color: #3c83ba;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rezept-karte a:hover {
    color: #11436c;
}


