<html lang="de">
    <head>
        <title>Rezept hinzufügen | Rezept-Welt</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{../img/recipebook_icon.png}" href="../static/img/recipebook_icon.png">
        <link rel="stylesheet" th:href="@{../css/add_rezept_page.css}" href="../static/css/add_rezept_page.css">
    </head>
    <body>
        <h1>Rezept hinzufügen</h1>
        <div>
            <form method="post" action="/add/rezept" enctype="multipart/form-data">
                <label for="idkategorie">Kategorie</label>
                <select name="kategorie" id="idkategorie" required>
                    <option value="" disabled selected>Bitte wählen</option>
                    <option th:each="kat : ${kategorien}"
                            th:value="${kat}"
                            th:text="${kat}"></option>
                </select>

                <label for="idname">Name</label>
                <input type="text" id="idname" name="name"><br>

                <label for="idzutaten">Zutaten</label>
                <input type="text" id="idzutaten" name="zutaten"><br>

                <label for="idzubereitung">Zubereitung</label>
                <input type="text" id="idzubereitung" name="zubereitung"><br>

                <label for="idbild">Bild hochladen</label>
                <input type="file" id="idbild" name="bild" accept="image/*"><br>

                <button type="submit">Hinzufügen</button>
            </form>

        </div>
    </body>
</html>