<html lang="de">
    <head>
        <title> Rezept-Welt</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../static/img/recipebook_icon.png">
        <link rel="stylesheet" th:href="@{css/main_page.css}" href="../static/css/main_page.css">
    </head>

    <body>
        <h1>Ihre persönliche Rezeptwelt</h1>
        <div class="beschreibung">
            <p>
                <img class="rezeptbild" th:src="@{img/recipebook_icon.png}" src="../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
                Hier können Sie ihre Rezepte verwalten und ihrer Kreativität freien Lauf lassen,
                um ihre Rezepte von überall aus nutzen zu können. Hier können Sie in den
                Hauptkategorien Vor-, Haupt- und Nachspeise eine der vielen Unterkategorien wählen,
                wo Sie Rezepte suchen, überarbeiten, hinzufügen und löschen können.
                So haben Sie die Kontrolle über die Rezepte und eine übersichtliche Darstellung dieser.
            </p>
        </div>

        <div class="success" th:if="${success}">
            <p>Sie haben erfolgreich ein Rezept hinzugefügt.</p>
        </div>

        <form method="get" action="/add/rezept">
            <button class="add_rezept" type="submit">Neues Rezept hinzufügen</button>
        </form>


        <h2>Rezepte anschauen</h2>
            <div class="get_speise">
                <a class="speisen_link" href="">Vorspeisen</a>
                <img class="speisenbild" th:src="@{img/vorspeise.png}" src="../static/img/vorspeise.png" alt="Zeichnung von einem Salat auf einem Teller">
            </div>
            <div class="get_speise">
                <img class="speisenbild_left" th:src="@{img/hauptspeise.png}" src="../static/img/hauptspeise.png" alt="Zeichnung eines Burgers.">
                <a class="speisen_link" href="">Hauptspeisen</a>
            </div>
            <div class="get_speise">
                <a class="speisen_link" href="">Nachspeisen</a>
                <img class="speisenbild" th:src="@{img/nachspeise.png}" src="../static/img/nachspeise.png" alt="Zeichnung eines Blaubeer-Pancake Stapels">
            </div>
    </body>
</html>