<html lang="de">
<head>
    <title> Hauptspeisen | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{css/main_page.css}" href="../../static/css/main_page.css">
</head>

<body>
<h1>Hauptspeisen</h1>
<div th:remove="all-but-first">
    <div class="beschreibung">
        <p th:each="r : ${hauptspeisen}"
           th:text="${r.name}">
            Rezept 1
            <img class="rezeptbild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </p>
    </div>
    <div class="beschreibung">
        <p>
            Burger
            <img class="rezeptbild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </p>
    </div>
    <div class="beschreibung">
        <p>
            Pasta
            <img class="rezeptbild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </p>
    </div>
</div>
</body>
</html>