<html lang="de">
<head>
    <title> Hauptspeisen | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{css/hauptspeise.css}" href="../../static/css/hauptspeise.css">
</head>

<body>
<h1>Hauptspeisen</h1>
<div th:remove="all-but-first">
    <div class="speise" th:each="r : ${hauptspeisen}">
        <a class="link" th:text="${r.name}" th:href="@{#}" href="#">
            Rezept 1
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
    <div class="speise">
        <a class="link" href="#">
            Burger
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
    <div class="speise">
        <a class="link" href="#">
            Pasta
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
</div>
</body>
</html>