<html lang="de">
<head>
    <title> Nachspeisen | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{/css/nachspeise.css}" href="../../static/css/nachspeise.css">
</head>

<body>
<h1>Nachspeisen</h1>
<div class="speise"><a class="link_in_middle" th:href="@{/}" href="/">Zurück zur Startseite</a></div>

<div th:remove="all-but-first">
    <div class="rezept-karte" th:each="r : ${nachspeisen}">
        <img class="bild" th:if="${r.base64Bild != null}" th:src="${r.base64Bild}" alt="Bild der Nachspeise">
        <img th:unless="${r.base64Bild != null}" th:src="@{/img/placeholder.png}" alt="Kein Bild">
        <a class="link" th:text="${r.name}" th:href="@{#}" href="#">
        Rezept 1
    </a>
    </div>
    <div class="rezept-karte">
        <a class="link" href="#">
            Eiscreme
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
    <div class="rezept-karte">
        <a class="link" href="#">
            Schwarzwälderkirschtorte
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
</div>
</body>
</html>