<html lang="de">
<head>
    <title> Vorspeisen | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{/css/vorspeise.css}" href="../../static/css/vorspeise.css">
    <link rel="stylesheet" th:href="@{/css/filter.css}" href="../../static/css/filter.css">
</head>
<body>
    <h1>Vorspeisen</h1>
    <div class="speise"><a class="link_in_middle" th:href="@{/}" href="/">Zurück zur Startseite</a></div>

    <form class="filter" method="get" th:action="@{/vorspeise/filter}">
        <label for="filterId">Titel oder Zutaten filtern</label>
        <input placeholder="z.B. Salat, Olivenöl, ..." id="filterId" type="text" name="filter">
        <button type="submit">Suchen</button>
    </form>

    <div th:remove="all-but-first">
        <div class="rezept-karte" th:each="r : ${vorspeisen}" th:if="${r != null}">
            <img class="speisenbild" th:if="${r.base64Bild != null}" th:src="${r.base64Bild}" alt="Bild der Vorspeise">
            <a class="link" th:text="${r.name}" th:href="@{/get/zubereitung/{id}(id = ${r.id})}">
                Rezept 1
            </a>
        </div>
        <div class="rezept-karte">
            <a class="link" href="#">
                Caesar Salat
            </a>
        </div>
        <div class="rezept-karte">
            <a class="link" href="#">
                Gurkensalat
                <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
            </a>
        </div>
    </div>
</body>
</html>