<html lang="de">
<head>
    <title> Vorspeisen | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{/css/vorspeise.css}" href="../../static/css/vorspeise.css">
</head>

<body>
<h1>Vorspeisen</h1>
<div class="speise"><a class="link_in_middle" th:href="@{/}" href="/">Zurück zur Startseite</a></div>
<div th:remove="all-but-first">
    <div class="rezept-karte" th:each="r : ${vorspeisen}">
        <img class="speisenbild" th:if="${r.base64Bild != null}" th:src="${r.base64Bild}" alt="Bild der Vorspeise">
        <a class="link" th:text="${r.name}" th:href="@{/get/zubereitung/{id}(id = ${r.id})}" href="/get/zubereitung">
            Rezept 1
        </a>
    </div>
    <div class="rezept-karte">
        <a class="link" href="#">
            Caesar Salat
        </a>
    </div>
    <div class="rezept-karte">
        <a class="link" href="#">
            Gurkensalat
            <img class="bild" th:src="@{img/recipebook_icon.png}" src="../../static/img/recipebook_icon.png" alt="Rezeptbuch Logo">
        </a>
    </div>
</div>
</body>
</html>