<html lang="de">
<head>
    <title> Zubereitung | Rezept-Welt</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/img/recipebook_icon.png}" href="../../static/img/recipebook_icon.png">
    <link rel="stylesheet" th:href="@{/css/zubereitung.css}" href="../../static/css/zubereitung.css">
</head>

<body>
    <header>
        <h1 th:text="${rezeptForm.name}">Schwarzwälderkirschtorte</h1>
        <div><a class="link_in_middle" th:href="@{/}" href="/">Zurück zur Startseite</a></div>
    </header>
    <main class="recipe-container">
        <h2>Zutaten:</h2>
        <section class="zutaten">
            <div th:each="zutat, iterStat : ${rezeptForm.getZutatenListe()}" class="zutat-item">
                <input type="checkbox" th:id="${'zutat-' + iterStat.index}" class="checkbox-input">
                <label th:for="${'zutat-' + iterStat.index}"
                       th:text="${zutat}"
                       class="rezept_text">
                    - Beispielzutat
                </label>
            </div>
        </section>

        <section class="essens-bild">
            <img class="speisenbild" th:if="${rezeptForm.base64Bild != null}" th:src="${rezeptForm.base64Bild}" alt="Bild der Hauptspeise">
            <img class="speisenbild" th:unless="${rezeptForm.base64Bild != null}" th:src="@{/img/placeholder.png}" src="../../static/img/placeholder.png" alt="Kein Bild">
        </section>
    </main>
    <footer>
        <section class="zubereitung">
            <h3>Zubereitung:</h3>
            <p class="zubereitung" th:text="${rezeptForm.zubereitung}">Zuerst macht man ...</p>
        </section>
        <nav class="links">
            <a th:href="@{/get/zubereitung/{id}/remove(id = ${rezeptForm.id})}" class="link_in_middle">Löschen</a>
            <a th:href="@{/get/zubereitung/{id}/edit(id = ${rezeptForm.id})}" class="link_in_middle">Bearbeiten</a>
        </nav>
    </footer>
</body>
</html>